<h1><%= @user.name.capitalize %>'s Quiver:</h1>

<h2>Skis:</h2>
<ul>
    <%@user.skis.each do |ski|%>
    <li><%=" #{ski.brand} #{ski.name} => #{ski.category}"%></li>
    <%end%>
</ul>

<footer>
    <br>
    <a href="/logout">Sign Out:</a>
</footer>