<h1><%= @user.name.capitalize %>'s Account:</h1>
<p>Email: <%= @user.email %></p>
<p><a href="/skis">Quiver</a> Size: <%= @user.skis.all.count %></p>
<p>Type of Skier: <%= @user.skis.first.category %></p>



