<h1>Add a Ski to your Quiver:</h1>

<form class="" action="/skis" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value=""><br>
    <label for="brand">Brand:</label>
    <input type="text" name="brand" value=""><br>
    <label for="width">Width:</label>
    <input type="number" name="width" value=""><br>
    <label for="length">Length:</label>
    <input type="number" name="length" value=""><br>
    <label for="category">Category:</label>
    <input type="text" name="category" value=""><br>
    <input type="submit" value="Submit">
</form><br>