<h1>Welcome to Quiver!</h1>

<h2>Please Login</h2>

<form class="" action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" value="">
    <label for="password">Password:</label>
    <input type="text" name="password" value="">
    <input type="submit" value="Login">
</form>