<h1>Welcome to Quiver!</h1>

<h2>Please Login</h2>

<% if flash[:message] %>
    <h4> <%= flash[:message] %></h4>
<% end %>

<form class="" action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" value="">
    <label for="password">Password:</label>
    <input type="password" name="password" value="">
    <input type="submit" value="Login">
</form><br>

<p>If you don't have an account please <a href="/signup">Sign Up</a></p>
